html,body{
	width: 100%;
	margin:0;
	padding:0;
	color: #333;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	letter-spacing: 1.45px;
	line-height: 1.4;
	overflow-x:hidden;

}

body.toggled{
	overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;

}

img{
	display: block;
	max-width: 100%;
	height: auto;

}

.img-ban{
	background: no-repeat;
}

ul, ol, li{
	margin:0;
	padding:0;
	list-style-type: none;
}

p{
	font-size: 16px;
}
::-moz-selection { 
	background-color:#333;
	color: #fff; 
}
::selection { 
	background-color:#333;
	color: #fff; 
}


a:link{
	text-decoration: none;
	font-size: 16px;
}

a:visited{
	text-decoration: none;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.jed{
	float: left;
}

.dva{float: right;}



#dark-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 99;
}


/*-- HEADER --*/

header{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	}

header nav{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.logo:link{
	color: #333;
	font-size: 22px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 25px;
	padding-bottom: 20px;
	float: left;
	transition: all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
}

.logo:visited{
	color: #333;
}

.logo:hover{
	color: #000;
}

.logo:active{
	color: #000;
}

.ham-menu:link{
	color: #333;
	font-size:32px;
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.ham-menu:visited{
	color: #333;
}

.ham-menu:hover{
	color: #000;
}

.ham-menu:active{
	color: #000;
}


/*-- Slide show --*/
#slide-menu{
	position: fixed;
	width: 240px;
	height: 100vh;
	top: 0;
	right: -281px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	border-left: 1px solid #ccc;
	z-index: 100;
	transition: all 0.2s cubic-bazier(0,0.57,0.74,1.06);
	-webkit-transition:all 0.2s cubic-bazier(0,0.57,0.74,1.06);
	-moz-transition:all 0.2s cubic-bazier(0,0.57,0.74,1.06);
}


#slide-menu.toggled{
	right: 0;
}

#slide-menu ul{
	margin-top: 85px;

}

.ham-menu-close{
	float: right;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 25px;
	cursor: pointer;
	font-size: 24px;
}

.select{
	background: red;
}


#slide-menu ul li{
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	border-top: 1px solid #ccc;
}

#slide-menu ul li a:link{
	font-size: 18px;
	color: #333;
}

#slide-menu ul li a:visited{

}

#slide-menu ul li a:active{

}

#slide-menu ul li:hover{
	background: red;

}

.banner {  
  position: relative;
  z-index: -1000;

}

.banner .content h2 {
  margin:0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 80px;
}

.banner-txt {
	margin-top: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #333;
  text-align: center;
}

main{
  	width:100%;
	margin: 0 auto;
 	overflow: hidden;

}

.col{
	display: inline-block;
    width: 33.333%;
    height:400px;
    float: left;
    text-align: center;
    
}

.col img{
	margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    
}

.col p{
	margin: 30px;
}

.col1{ background: #fff;}
.col2{ background: rgba(204, 204, 204, 0.29);}
.col3{ background: #fff;}



footer{
    clear:both;
}





@media only screen and (max-width:768px){
    
    .col1, .col2{
        width:50%;
    }
    .col3{
        width:100%;
    }
}

@media only screen and (max-width:480px){
    .col{
       float: none;
        width:100%;
    }
}